<link rel="stylesheet" href="/assets/css/protection.css">

<form id="formId">
    <input id="inputId" name="answer" type="password" placeholder="Password?"/> <button type="submit">Open</button>
</form>

<p id="opTag"></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    var form = document.getElementById("formId");
    var pw = document.getElementById("inputId");
    var opTag = document.getElementById("opTag");
    var content = document.getElementById("content");
    function submitForm(event) {
       event.preventDefault();
       var hash = CryptoJS.SHA256(pw.value);
       if (hash.toString(CryptoJS.enc.Base64) == "zdPuA2OI2KjYBEzvTxlAfnlnaldiHgHDD4KtaR8i66k=") {
        console.log("correct password");
        console.log(content);
        form.style.display = "none";
        opTag.style.display = "none";
        content.style.display = "block";
       } else {
        opTag.innerHTML = "<b>Incorrect password!</b>";
       }
    }
    form.addEventListener('submit', submitForm);
 </script>