---
layout: default
---

<h1>{{ site.theme_config.home.title_blog }}</h1>


{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
    <li class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}»
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}


{% for tag in site.tags %}
<h4>{{ tag[0] }} ({{ tag[1].size }})</h4>
{% endfor %}
