---
layout: default
---

<h1>{{ site.theme_config.home.title_blog }}</h1>

{% for tag in site.tags %}
<span class="tag"><a href="?tag={{ tag[0] | url_encode }}">{{ tag[0] }} ({{ tag[1].size }})</a></span>
{% endfor %}

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
    <li data-tags="{{ post.tags | join: ',' }}" class="post-list-item">
        <span class="home-date">
          {{ post.date | date: site.theme_config.date_format }}»
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}



<script>
  const tag = new URLSearchParams(location.search).get('tag');
  if (tag) {
    document.querySelectorAll('#post-list li').forEach(el => {
      const tags = el.dataset.tags.split(',');
      if (!tags.includes(tag)) el.style.display = 'none';
    });
  }
</script>

